{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 100,
	"arrowParens": "avoid",
	"svelteBracketNewLine": false,
	"plugins": [
		"prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-svelte"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
